<!-- Arquivo logback-spring.xml (coloque na pasta resources) -->

<configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.seuapp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>
