<!-- Arquivo logback-spring.xml (coloque na pasta resources) -->

<!-- <configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.seuapp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="fileAppender"/>
    </root>
</configuration> -->


<configuration>

    <!-- Define o nível de log para o logger raiz (root logger) -->
    <root level="INFO">
        <!-- Associa o logger raiz ao console -->
        <appender-ref ref="consoleAppender" />
        <!-- Associa o logger raiz ao arquivo de log -->
        <appender-ref ref="fileAppender" />
    </root>

    <!-- Configuração do apêndice para a saída no console -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração do apêndice para registro em arquivo -->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>