<!--suppress ALL -->
<!DOCTYPE html>
<html>
<head th:replace="~{leiauteBase :: head}">
</head>
<body>
<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Número</th>
            <th>Email</th>
            <th>Data de criação do registro</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr class="custom-row" th:each="func : ${usuarioFlyway}">
            <td th:text="${func.nome}"></td>
            <td th:text="${func.numero}"></td>
            <td th:text="${func.email}"></td>
            <td th:text="${func.data}"></td>
            <td class="buttons">
                <a th:href="@{/registros/editar/{id}(id=${func.id})}" th:method="get" class="btn btn-warning">
                    <i class="fa fa-pencil"></i>
                </a>
                <a th:href="@{/registros/deletar/{id}(id=${func.id})}" th:method="delete" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
